<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
    <div class="post">
      <h3 class="title">
      <%= link_to h(truncate(post.title, 50)), post %></h3>

      <% if !post.intro.empty? %>
        <%= post.intro %>
      <% else %>
        <%= post.body %>
      <% end %>

      <ul class="post_info">
        <li class="date">Опубликовано <a href=""><%= l(post.date, :format => "%d %B %Y") %></a>
          <% if post.cached_category %>
            в категории 
            <%= post.cached_category.map{|item| 
              link_to(item.name, search_posts_path(:tags => params[:tags], :category => item.name)
              )}.join(' → ') %>
          <% else %>
            без категории
          <% end %>
        </li>
        <li class="comments"><%= link_to(post.comments.size.to_s + " " + Russian.p(post.comments.size, 'комментарий', 'комментария','комментариев'), post) %></li>
      </ul>
      <b>Теги:</b> <%
      tags = Array.[](params[:tags]).flatten.compact
      post_tags = post.cached_tag_list.split(', ')
      post_tags.each do |tag|
        if(tags).include?(tag)
      %>
          <%= link_to("-",link_tags(tags.reject{|tag_cmp| tag_cmp == tag})) %>&nbsp;<%= link_to(h(tag), link_tags(tag)) %><% if tag != post_tags.last%>,<% end %>
      <%
        else
      %>
          <%= link_to("+", link_tags(tags + Array(tag))) %>&nbsp;<%= link_to(h(tag), link_tags(tag)) %><% if tag != post_tags.last%>,<% end %>
      <%
        end
      end
      #h(post.tag_list) 
      %><br />
      <% if can? :edit, @post %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>
      <% if can? :destroy, @post %>
        <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
    
    <br class="clear" />
  <% end %>
<% else %>
  Не найдены публикации, удовлетворяющие условиям поиска, попробуйте сбросить или выбрать другие параметры фильтрации
<% end %>

<% if can? :create, @post %>
  <%= link_to 'New post', new_post_path %>
<% end %>


<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
</div>
