<div style="padding: 0 0 0 35px">
 <br />

  <% form.inputs do %>
    <%= form.error_messages %>
    <%= form.input :login, :required => true, :input_html => form.object.new_record? ? nil : {:autocomplete => 'off'} %>
    <%= form.input :email, :required => true, :input_html => form.object.new_record? ? nil : {:autocomplete => 'off'} %>

    <% unless @user.new_record? %>
      <li>Заполняйте поле пароля только если хотите создать новый пароль.</li>
    <% end %>

    <%= form.input :password, :input_html => form.object.new_record? ? nil : {:autocomplete => 'off'}, :required => form.object.new_record? ? true : false, :label => form.object.new_record? ? nil : :new_password %>
    <%= password_strength :password_strength, 'user_password' %><br />
    <%= form.input :password_confirmation, :input_html => form.object.new_record? ? nil : {:autocomplete => 'off'}, :required => form.object.new_record? ? true : false %>
 
    <% if @user.new_record? %>
      <%= form.submit "Зарегистрироваться" %>
    <% else %>
      <%= form.submit "Обновить" %>
    <% end %>
    
    <% if @user.new_record? %>
      <%= link_to "Войти", login_path %> или <%= link_to("Восстановить пароль", password_resets_path) %>
    <% end %>

  <% end %>
</div>


<% if @user.new_record? %>
  <br /><br /><br />
  <h2>или войдите используя аккаунт других популярных сайтов в интернете</h2>
  <br />

  <div>
    <%= rpx_embed( :language => 'ru', :app_name => AppConfig.rpx_app_name, :return_url => user_session_url) %>
  </div>
<% else %>
  <br /><br /><br />
  <h2>вы можете связать свой аккаунт с уже имеющимся у вас аккаунтом</h2>
  <br />
  <%= rpx_embed( :language => "ru", :app_name => AppConfig.rpx_app_name, :return_url => addrpxauth_url, :add_rpx => true, :unobtrusive => false ) %>
<% end %>


<br /><br />
  crypted_password.blank?:  <%= @user.crypted_password.blank? %><br/ >
  crypted_password.nil?:  <%= @user.crypted_password.nil? %><br/ >

  using_rpx?: <%= @user.using_rpx? %><br/ >
  using_password?: <%= @user.using_password? %><br/ >
  crypted_password_chagned?: <%= @user.crypted_password_changed? %><br/ >
  new_record: <%= @user.new_record? %><br/ >
 
