#calendar
  .centered.append-bottom
    = link_to_remote "←", :url => {:action => "calendar", :tags => params[:tags], :category => params[:category], :date => (@date.beginning_of_month-1).strftime("%Y-%m") + "-00"}
    &nbsp;&nbsp;
    = link_to Russian.strftime(@date, "%B %Y"), link_calendar(@date.strftime("%Y-%m") + "-" + "00", false), :rel => link_calendar(@date.strftime("%Y-%m") + "-" + "00", true)
    &nbsp;&nbsp;
    = link_to_remote "→", :url => {:action => "calendar", :tags => params[:tags], :category => params[:category], :date => (@date.end_of_month + 1).strftime("%Y-%m") + "-00"}

  - calendar_for (@calendar_posts, :year => @date.year, :month => @date.month, :first_day_of_week => 1) do |calendar|
    = calendar.head("пн", "вт", "ср", "чт", "пт", "сб", "вс")
    - calendar.day(:day_method => :created_at) do |date, post|
      - if @calendar_posts.find{ |post| post.date.strftime("%d").to_i == date.day && post.date.strftime("%m").to_i == date.month }
        = content_tag("span", link_to(date.day, link_calendar(@date.strftime("%Y-%m") + "-" +"%02d" % date.day.to_s, false), :rel => link_calendar(@date.strftime("%Y-%m") + "-" +"%02d" % date.day.to_s, true)), :class => 'not_empty_day')
      - else
        = content_tag(:span, date.day, :class => "empty_day")
