<script type="text/javascript">
  $(document).ready(function() {

    $("#post_date").dynDateTime({
      showsTime: true,
      ifFormat: "%d.%m.%Y %H:%M",
      electric: true,
      firstDay: 1,
      button: ".next()"
    });

    $("textarea#post_tag_list").autocomplete("/tags/auto_complete_for_tag_name", {
	  	multiple: true
      });

$(".example9").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
          });

    $("a#render_categories").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
          });
    /*.colorbox({
      width: "80%", 
      height: "80%", 
      iframe: true,
      onClosed:function(){ alert('onClosed: colorbox has completely closed'); },
      onCleanup:function(){
      alert('closed');
      <%= remote_function( :url => {:action => "available_category"}) %>;
      }
    });*/

});
</script>


<script language="Javascript">
/*
  document.observe('dom:loaded', function(){
    CKEDITOR.on('instanceReady', function() {
      document.checkVisibility = function(){
        if($('post_intro_input').visible())
          $('toggle_post_intro_input').update("Выключить вступление");
        else
          $('toggle_post_intro_input').update("Включить вступление");
      }
      if(CKEDITOR.instances.post_intro_editor.getData().length <= 9)
        $('post_intro_input').hide();
      document.checkVisibility();
    });

    $('toggle_post_intro_input').observe('click', function(event){
      $('post_intro_input').toggle();
      document.checkVisibility();
      event.stop();
    });
  });
*/


</script>
<p><a class='example9' href="../content/marylou.jpg" title="Marylou on Cumberland Island">Example with alerts</a>. Callbacks and event-hooks allow users to extend functionality without having to rewrite parts of the plugin.</p> 
<p><a href="http://localhost:3000/categories/new">Outside webpage (IFrame)</a></p>

<% if params[:commit] == 'Предпросмотр' %>
  <%= render(:partial => 'preview') %>
<% end %>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <%= f.label :title %><br />
  <%= f.text_field :title, :maxlength => 255, :size => 50%><br />

  <a id="toggle_post_intro_input" class="ajax" href=""></a><br />

  <%= f.label :intro %><br />
  <%= f.cktext_area :intro, :language => "ru" %><br />

  <%= f.label :body %><br />
  <%= f.cktext_area :body, :language => "ru" %><br />

  <%= f.check_box :visible %><br />
  <%= f.label :visible %><br />

  <%= f.text_field :date, :format => "%d.%m.%Y %H:%M" %> <%= f.image_tag('calendar.gif') %><br />

  <%= render :partial => 'categories/render_categories', :object => @post %>
  <%= link_to "Управление категориями", categories_path(:format => :iframe), {:id => 'render_categories', :class => "ajax"} %>

  <%= f.label :tag_list %><br />
  <%= f.text_area :tag_list, :autocomplete =>"off", :rows => 2 %><br />

  <%= f.submit "Предпросмотр" %>
  <%= f.submit %>

<% end %>
