<script type="text/javascript">
  jQuery(document).ready(function() {

    jQuery("#post_date").dynDateTime({
      showsTime: true,
      ifFormat: "%d.%m.%Y %H:%M",
      electric: true,
      firstDay: 1,
      button: ".next()"
    });

    $("textarea#post_tag_list").autocomplete("/tags/auto_complete_for_tag_name", {
	  	multiple: true
    })

});
</script>


<script language="Javascript">
/*
  document.observe('dom:loaded', function(){
    CKEDITOR.on('instanceReady', function() {
      document.checkVisibility = function(){
        if($('post_intro_input').visible())
          $('toggle_post_intro_input').update("Выключить вступление");
        else
          $('toggle_post_intro_input').update("Включить вступление");
      }
      if(CKEDITOR.instances.post_intro_editor.getData().length <= 9)
        $('post_intro_input').hide();
      document.checkVisibility();
    });

    $('toggle_post_intro_input').observe('click', function(event){
      $('post_intro_input').toggle();
      document.checkVisibility();
      event.stop();
    });
  });
*/
</script>

<% if params[:commit] == 'Предпросмотр' %>
  <%= render(:partial => 'preview') %>
<% end %>

<% semantic_form_for(@post) do |f| %>
  <%= f.error_messages %>

  <% f.inputs do %>
    <%= f.input :title %>
    <a id="toggle_post_intro_input" class="ajax" href=""></a><br /><br />
    <%= f.input :intro, :as => :ckeditor, :input_html => {:language => "ru"}, :hint => 'Пропустите вступление и переходите к следующему полю если не хотите чтобы пост содержал короткое вступление при просмотре в виде списка или выгрузки в rss' %>
    <%= f.input :body, :as => :ckeditor, :input_html => {:language => "ru"} %>
    <%= f.input :visible %>
    <%= f.text_field :date, :format => "%d.%m.%Y %H:%M" %> <%= f.image_tag('calendar.gif') %>

    <% if !@post.category.nil? && (@post.category.new_record? && params[:action] != 'new') %>
      <%= render :partial => 'new_category', :object => @post %>
    <% else %>
      <%= render :partial => 'available_category', :object => @post %>
    <% end %>

    <li id="post_tag_list_input" class="string optional">
      <%= f.label :tag_list %>
      <%= f.text_area :tag_list, :autocomplete =>"off", :rows => 1 %>
      <%= image_tag('/images/ajax-indicator.gif', :id => 'searchIndicator', :style => 'display:none;') %>
      <p class="inline-hints">Используйте запятую для разделения тегов</p>
    </li>

  <% end %>
  <% f.buttons do %>
    <%= f.submit "Предпросмотр" %>
    <%= f.submit %>
  <% end %>
<% end %>
