:javascript
  $(document).ready(function() {

    /* Календарь */
    $("#post_date").dynDateTime({
      showsTime: true,
      ifFormat: "%d.%m.%Y %H:%M",
      electric: true,
      firstDay: 1,
      button: ".next()"
    });

    /* Теги */
    $("textarea#post_tag_list").autocomplete("/tags/auto_complete_for_tag_name", {
      multiple: true
    })

    /* Colorbox и обновление категорий */
    $("a#render_categories").live('click', function() {
      $.fn.colorbox({
        href:$(this).attr('href'), 
        width: "90%", 
        height: "90%", 
        iframe: true,
        onCleanup:function(){ 
          isEdit = true;
          #{remote_function( :url => {:controller => 'categories', :action => 'render_categories'})}
        }
      });
      return false;
    });

    /* Блок связанный с Вступлением */
    CKEDITOR.on('instanceReady', function() {
      document.checkVisibility = function(){
        if($('#post_intro').is(":visible")){
          $('#toggle_post_intro').html("Выключить вступление");
        }
        else
          $('#toggle_post_intro').html("Включить вступление");
          CKEDITOR.instances.post_intro_editor.setData('');
      }
      if(CKEDITOR.instances.post_intro_editor.getData().length <= 9)
        $('#post_intro').hide();
      document.checkVisibility();
    });

    $('#toggle_post_intro').click(function(event){
      $('#post_intro').toggle();
      document.checkVisibility();
      event.preventDefault();
    });
  });

- if params[:commit] == 'Предпросмотр'
  = render(:partial => 'preview')

- form_for(@post) do |f|
  = f.error_messages
  = f.label :title
  %br/
  = f.text_field :title, :maxlength => 255, :size => 50, :rows => 2, :class => 'check_changing'
  %br/
  %a#toggle_post_intro.ajax{:href => ""}
  %br/
  %br/
  #post_intro
    = f.label :intro
    %br/
    = f.cktext_area :intro, :language => "ru", :class => "check_changing"
    %br/
  = f.label :body
  %br/
  = f.cktext_area :body, :language => "ru", :class => "check_changing"
  %br/
  = f.check_box :visible, :class => "check_changing"
  = f.label :visible
  %br/
  %br/
  %div{:style => "position: relative"}
    = f.label :date
    %br/
    = f.text_field :date, :format => "%d.%m.%Y %H:%M", :class => "check_changing"
    = f.image_tag('calendar.gif', :style => "cursor: pointer; position: absolute; margin-top: 13px; margin-left: 7px")
    %br/
    %br/
  = f.label :category
  %br/
  = render :partial => 'categories/render_categories', :object => @post
  %br/
  = f.label :tag_list
  %br/
  = f.text_area :tag_list, :autocomplete =>"off", :class => "check_changing", :style => "height: 30px; width: 300px"
  %br/
  %br/
  = f.submit t(:preview)
  = f.submit t(:save)
  = link_to t(:view), post_path(f.object) unless (f.object.new_record?)
