<script type="text/javascript">
  jQuery(document).ready(function() {

    jQuery("#post_date").dynDateTime({
      showsTime: true,
      ifFormat: "%d.%m.%Y %H:%M",
      electric: true,
      firstDay: 1,
      button: ".next()"
    });

    $("textarea#post_tag_list").autocomplete("/tags/auto_complete_for_tag_name", {
	  	multiple: true
    })

    $("a#render_categories").live('click', function() {
      $.fn.colorbox({
        href:$(this).attr('href'), 
        width: "90%", 
        height: "90%", 
        iframe: true,
        onCleanup:function(){ 
          <%= remote_function( :url => {:controller => 'categories', :action => 'render_categories'}) %>
        }
      });
      return false;
    });


    CKEDITOR.on('instanceReady', function() {
      document.checkVisibility = function(){
        if($('#post_intro').is(":visible"))
          $('#toggle_post_intro').html("Выключить вступление");
        else
          $('#toggle_post_intro').html("Включить вступление");
      }
      if(CKEDITOR.instances.post_intro_editor.getData().length <= 9)
        $('#post_intro').hide();
      document.checkVisibility();
    });

    $('#toggle_post_intro').click(function(event){
      $('#post_intro').toggle();
      document.checkVisibility();
      event.preventDefault();
    });

});
</script>

<% if params[:commit] == 'Предпросмотр' %>
  <%= render(:partial => 'preview') %>
<% end %>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <%= f.label :title %><br />
  <%= f.text_field :title, :maxlength => 255, :size => 50, :rows => 2 %><br />

  <a id="toggle_post_intro" class="ajax" href=""></a><br /><br />
  
  <div id="post_intro">
    <%= f.label :intro %><br />
    <%= f.cktext_area :intro, :language => "ru" %><br />
  </div>

  <%= f.label :body %><br />
  <%= f.cktext_area :body, :language => "ru" %><br />

  <%= f.check_box :visible %> 
  <%= f.label :visible %><br /><br />

  <%= f.text_field :date, :format => "%d.%m.%Y %H:%M" %>
  <%= f.image_tag('calendar.gif') %><br /><br />

  <%= render :partial => 'categories/render_categories', :object => @post %><br />

  <%= f.label :tag_list %><br />
  <%= f.text_area :tag_list, :autocomplete =>"off", :style => "height: 30px; width: 300px" %><br /><br />

  <%= f.submit "Предпросмотр" %>
  <%= f.submit %>

<% end %>
