<div id='preview'>

  <b><%= t('activerecord.labels.date') %></b>
  <br />
  <div id="date">
    <%= @post.date %>
  </div>
  <br />

  <b><%= t('activerecord.labels.title') %></b>
  <br />
  <div id="title">
    <%= @post.title %>
  </div>
  <br />

  <b><%= t('activerecord.labels.intro') %></b>
  <br />
  <div id="intro">
    <%= @post.intro %>
  </div>
  <br />
  <b><%= t('activerecord.labels.body') %></b>
  <br />

  <div id="body">
    <%= @post.body %>
  </div>
  <br />

</div>
