:javascript
  $(document).ready(function(){
    $('#comments').find('a').each( function(){
      $(this).click(function(){
        $('#comment_parent_id').val($(this).attr('id').split('_')[1]);
      });
    });
  });

.post{:class => !@post.remote_id.nil? && "remote"}
  %h2.title
    =link_to h(@post.title), @post
  .control
    - if can? :edit, @post
      = link_to t(:edit), edit_post_path(@post)
    - if can? :destroy, @post
      = link_to t(:destroy), @post, :confirm => t(:sure), :method => :delete
  = @post.body
  Опубликовано
  = link_to l(@post.date, :format => "%d %b %Y"), link_calendar(@post.date.strftime("%Y-%m") + "-" +"%02d" % @post.date.day.to_s, false), :rel => link_calendar(@post.date.strftime("%Y-%m") + "-" +"%02d" % @post.date.day.to_s, true)
  = post_category(@post)
  - if !@post.cached_tag_list.nil? && !@post.cached_tag_list.empty?
    %br 
    Теги:
    - fukc = "&nbsp;"
    = fukc
    - post_tags = @post.cached_tag_list.split(', ')
    - post_tags.each do |tag|
      %span>= link_to(h(tag), link_tags(tag, false), :rel => link_tags(tag, true))
      - if tag != post_tags.last
        ,
        = fukc
  -#%br
  -#%p
  -#  %b Author:
  -#  - unless @post.user.nil?
  -#    = @post.user.login
  #comments
    %ul.links
    - cat = @comments
    - cat.each_with_index do |c, i|
      - counter = 0
      - if !cat[i+1].nil? && cat[i+1].lvl.to_i > c.lvl.to_i
        - counter += 1
        <li>
        = link_to(c.body, link_category(c.body, false), :rel => link_category(c.body, true))
        %a{:href => '#', :id => "reply_" + c.id.to_s} Ответить
        <ul class="links">

      - if !cat[i+1].nil? && cat[i+1].lvl.to_i == c.lvl.to_i
        <li>
        = link_to(c.body, link_category(c.body, false), :rel => link_category(c.body, true))
        %a{:href => '#', :id => "reply_" + c.id.to_s} Ответить
        </li>

      - if !cat[i+1].nil? && cat[i+1].lvl.to_i < c.lvl.to_i
        <li>
        = link_to(c.body, link_category(c.body, false), :rel => link_category(c.body, true))
        %a{:href => '#', :id => "reply_" + c.id.to_s} Ответить
        </li>
        - counter -= 1
        - (c.lvl.to_i - cat[i+1].lvl.to_i).times do
          </ul></li>
          
      - if (cat[i+1].nil?)
        <li>
        = link_to(c.body, link_category(c.body, false), :rel => link_category(c.body, true))
        %a{:href => '#', :id => "reply_" + c.id.to_s} Ответить
        </li>
        - counter.times do
          </ul></li>

-#- if(params[:controller] == 'post')
= render :partial => 'comments/form'

- if can? :update, @article
  = link_to 'Edit', edit_post_path(@post)
  |
- if can? :destroy, @article
  = link_to "Destroy", @article, :method => :delete, :confirm => "Are you sure?"
= link_to 'Back', posts_path
