<% @posts.each do |post| %>
  <p>
    <b><%=h post.title %></b> <br />
    <%= post.body %> <br />
    <% unless post.user.nil? %>
      <b>Написал: </b> <%= post.user.login %>,
    <% end %>
    <%= l(post.date, :format => :long) %> <br />
    <b>Теги:</b> <%= post.tag_list %></td> <br /><br />
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<br />

<div class="tags">
  <b>Облако тегов:</b><%= render(:partial => "tags", :collection => @tags) %>
</div>

<br />
<%= will_paginate @posts %>

<br />
<%= link_to 'New post', new_post_path %>
