<h1>New post</h1>

<% semantic_form_for(@post) do |f| %>
  <%= f.error_messages %>

  <% f.inputs do %>
    <%= f.input :title, :label => 'aaa', :hint => 'as' %>
    <%= f.input :intro, :label => "intro", :as => :ckeditor, :input_html => {:language => "ru"} %>
    <%= f.input :body, :label => "full", :as => :ckeditor, :input_html => {:language => "ru"} %>
    <%= f.input :visible %>
    <%= f.input :date %>
    <%= calendar_date_select_tag "p_date_and_time", Russian::strftime(Time.now, "%d %B %Y %H:%m"), :time => true %>
  <% end %>
  <%= f.buttons %>

<% end %>


<%= link_to 'Back', posts_path %>
