<h1>New post</h1>

<% semantic_form_for(@post) do |f| %>
  <%= f.error_messages %>

  <% f.inputs do %>
    <%= f.input :title %>
    <%= ckeditor_textarea("post", "body", :width => '100%', :height => '200px') %>
    <%= f.input :visible %>
    <%= f.input :date %>
  <% end %>
  <%= f.buttons %>

<% end %>


<%= link_to 'Back', posts_path %>
