<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Date:</b>
  <%=h @post.date %>
</p>

<p>
  <b>Author:</b>
  <% unless @post.user.nil? %>
    <%= @post.user.login %>
  <% end %>
</p>

<p>
  <b>Tags</b>
  <%= @post.tag_list %>
</p>

<%= render :partial => 'comments/form' %>

<% if can? :update, @article %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% if can? :destroy, @article %>
  <%= link_to "Destroy", @article, :method => :delete, :confirm => "Are you sure?" %>
<% end %>
<%= link_to 'Back', posts_path %>
