<h2>Войдите на сайт используя аккаунт сайта</h2>
<br /><br />

<div style="padding: 0 0 0 35px">
  <% semantic_form_for @user_session, :url => user_session_path do |f| %>
    <% f.inputs do %>
      <%= f.error_messages %>
      <%= f.input :login, :label => "Логин или email" %>
      <%= f.input :password, :label => "Пароль" %>
      <%= f.input :remember_me, :as => :boolean, :label => "Запомнить меня", :required => false %>
    <% end %>
    <%= f.submit "Войти" %> <%= link_to "Зарегистрироваться", login_path %> или <%= link_to("Восстановить пароль", password_resets_path) %>

  <% end %>
</div>

<br /><br /><br />
<h2>или используйте аккаунт других популярных сайтов в интернете</h2>
<br /><br />

<div>
  <%= rpx_embed( :language => 'ru', :link_text => "Register/Sign in with RPX..", :app_name => AppConfig.rpx_app_name, :return_url => user_session_url, :unobtrusive => false ) %>
</div>


