!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= h(yield(:title) || AppConfig.site_name)
    = stylesheet_link_tag 'compiled/application.css', 'jquery.autocomplete.css',  '/components/dyndatetime/css/skins/aqua/theme.css',  '/components/colorbox/example4/colorbox.css',  :concat => true, :media => 'screen, project'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag  'jquery.js',  'jquery-ui.js',  'jrails.js',  'application.js',  '/components/dyndatetime/src/jquery.dynDateTime.js',  '/components/dyndatetime/lang/calendar-ru.js',  'jquery.autocomplete.pack.js',  '/components/colorbox/colorbox/jquery.colorbox.js',  :cache => true
    = javascript_include_tag :ckeditor
    = yield(:head)
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    - content_for(:keywords) do
      ключевые, слова
    - content_for(:description) do
      описание
    %meta{:content => yield(:keywords), :name => "keywords"}/
    %meta{:content => yield(:description), :name => "description"}/
  %body
    .container#wrapper
      .container#header
        %div.columnspan-24
          %h1#title
            %a{:href => "/"} Кладовочка программиста
          %ul#nav
            %li
              %a{:href => "/"} Главная 
              &nbsp;|&nbsp;
            %li
              %a.active{:href => "/about"} Обо мне 
              &nbsp;|&nbsp;
            %li
              %a{:href => "/feedback"} Обратная связь
      %hr
      .container#main
        %div.column.span-16.colborder
          - flash.each do |name, msg|
            .box#flash= content_tag :div, msg, :id => "flash_#{name}"
          = filters
          = yield 
        %div.column.last.span-7#sidebar
          .box#search
            %form{:action => "", :method => "post"}
              = text_field_tag("keywords", nil, {:class => "text"})
              = submit_tag("Поиск")
          %h4.loud
            Категории
          = categories
          %h4.loud
            Родственные теги
          .box= render(:partial => "related_tags", :collection => @tags, :as => :tag)
          %h4.loud
            Календарь
          .box= render :partial => 'shared/calendar', :object => @calendar_posts
          %h4.loud
            Ссылки
          .box= render :partial => 'shared/q'
          %h4.loud
            Я в других местах
          .box= render :partial => 'shared/w'
          %h4.loud
            Обо мне
          .box= render :partial => 'shared/e'
      .container.footer
        %div.column.last.span-24
          = t(:footer, :year => Date.today.strftime("%Y"))
