<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
      <title><%= h(yield(:title) || "Untitled") %></title>
      <%= stylesheet_link_tag 'application' %>
      <%= javascript_include_tag :defaults %>
      <%= formtastic_stylesheet_link_tag %>
      <%= javascript_include_tag :ckeditor %>
      <%= calendar_date_select_includes :style => "default", :locale => "ru" %>

      <%= javascript_include_tag 'weakling' %>
      <%= stylesheet_link_tag 'weakling.css' %>

      <%= yield(:head) %>

      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />
</head>
<body>

<div id="header">

	<div id="header_inner" class="fixed">

		<div id="logo">
      <a href="/">
        <h1><span>Lorem ipsum</span></h1>
			  <h2>(в процессе разработки)</h2>
      </a>
		</div>
		
		<div id="menu">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#" class="active">Обо мне</a></li>
				<li><a href="#">Обратная связь</a></li>
			</ul>
		</div>
		
	</div>
</div>

<div id="main">

	<div id="main_inner" class="fixed">

		<div id="primaryContent_3columns">

			<div id="columnA_3columns">
        
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>
      
      <% if params[:category] || params[:tags] %>
        <div id="filter">
            <% if params[:category] and category = Category.find_by_name(params[:category]) %>
              <p>
                Просмотр происходит внутри категории: 
                <%= link_to "Главная", search_posts_path(:tags => params[:tags]) %> → 
                <% category.self_and_ancestors.each do |item| %>
                  <%= link_to(item.name, search_posts_path(:tags => params[:tags], :category => item.name)) %>
                  <%= " → " unless category.self_and_ancestors.last == item %>
                <% end %>
              </p>
            <% end %>
          <p>
            <% if params[:tags] %>
              <% tags = Array.[](params[:tags]).flatten %>
              Включен фильтр по  <%= Russian.p(tags.count, "тегу", "тегам", "тегам") %>:
              <% tags.each { |tag| %>
              <%= link_to tag, search_posts_path(:tags => tag, :category => params[:category]) %>
              <%= link_to "<sup>x</sup>", search_posts_path(:tags => tags.reject{|item| item == tag}, :category => params[:category]) %>
                <%= ", " unless tags.last == tag %> 
              <% } %>
            <% end %>
          </p>
        </div>
			<% end %>
	      <br class="clear" />
  	
        <%= yield %>
		
			</div>
	
		</div>
		
		<div id="secondaryContent_3columns">
		
      <div id="columnB_3columns">

        <h4><span>Категории</span> постов</h4>
        <div class="block">
          <%=format_nested_set(Category.roots, {:major => {:tag => "ul", :class => "links"}}){|i| link_to(i.name, search_posts_path(:tags => params[:tags], :category => i.name))} %>
        </div>
        
        <h4><span>Популярные</span> теги</h4>
        <div class="block">
          <% @popular_tags = Post.tag_counts(:limit => 20, :at_least => 2) %>
          <%= render(:partial => "posts/tags", :collection => @popular_tags) %>
        </div>

        <% if params[:action] == "search" && @tags.count > 0 %>
          <h4><span>Родственные</span> теги</h4>
          <div class="block">
            <%= render(:partial => "related_tags", :collection => @tags, :as => :tag) %>
          </div>
        <% end %>
        
 			</div>
			
      <div id="columnC_3columns">
  
        <h4><span>Поиск</span></h4>

        <div class="block">
          <form method="post" action="">
          <div id="search">
            <input type="text" class="text" name="keywords" />
            <input type="submit" class="button" value="Ок" />
            <br class="clear" />
          </div>
          </form>
        </div>


        <h4><span>Обо</span> мне</h4>
        <div class="block">
          <div style="text-align: center">
            <img width="120" height="160" src="http://farm4.static.flickr.com/3539/4567817472_f107697a88_o.jpg" alt="Корнев Руслан aka woto" />
          </div>
          <br style="clear" />
          Разрешите представиться, я, Корнев Руслан aka woto. Веб программист, занимаюсь разработкой сайтов на Ruby on Rails и PHP. Стараюсь делать интересные, в меру уникальные сайты, ищу работу. Подробнее на странице <a href="">Обо мне...</a>
        </div>

        <h4><span>Я в других</span> местах</h4>
        <div class="block">
          <ul class="links">
            <li><a href="http://hh.ru/resume/472e8180008173f5">Head Hunter </a></li>
            <li><a href="http://kornevruslan.moikrug.ru/">Мой Круг</a></li>
            <li><a href="http://www.twitter.com/woto7">Twitter</a></li>
            <li><a href="http://delicious.com/woto">Delicious</a></li>
            <li><a href="http://www.youtube.com/user/wotok7">Youtube</a></li>
            <li><a href="http://woto7.blogspot.com/">Blogspot</a</li>
            <li><a href="http://vimeo.com/woto">Vimeo</a></li>
            <li><a href="http://www.flickr.com/photos/48576382@N06/">Flickr</a></li>
            <li><a href="http://github.com/woto">Github</a></li>
            <li><a href="http://www.google.com/profiles/107009283623209618815">Google Buzz</a></li>
            <li><a href="http://www.google.com/reader/shared/03958211105266633351">Google Reader</a></li>
            <li><a href="http://friendfeed.com/woto">Friend Feed</a></li>
            <li><a href="http://www.facebook.com/profile.php?id=100000295528262">Facebook</a></li>
          </ul>
        </div>

			</div>

		</div>

		<br class="clear" />

	</div>

</div>

<div id="footer" class="fixed">
  Дизайн от <a href="http://www.nodethirtythree.com">nodethirtythree</a> и <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.
</div>

</body>
</html>
