<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
      <title><%= h(yield(:title) || "Untitled") %></title>
      <%= stylesheet_link_tag 'application' %>
      <%= javascript_include_tag :defaults %>
      <%= formtastic_stylesheet_link_tag %>
      <%= javascript_include_tag :ckeditor %>
      <%= calendar_date_select_includes :style => "default", :locale => "ru" %>

      <%= javascript_include_tag 'weakling' %>
      <%= stylesheet_link_tag 'weakling.css' %>

      <%= yield(:head) %>

      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />
</head>
<body>

<div id="header">

	<div id="header_inner" class="fixed">

		<div id="logo">
      <a href="/">
        <h1><span>Lorem ipsum</span></h1>
			  <h2>(в процессе разработки)</h2>
      </a>
		</div>
		
		<div id="menu">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#" class="active">Обо мне</a></li>
				<li><a href="#">Обратная связь</a></li>
			</ul>
		</div>
		
	</div>
</div>

<div id="main">

	<div id="main_inner" class="fixed">

		<div id="primaryContent_3columns">

			<div id="columnA_3columns">
        
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>

      <div id="filter">
        <p>
          Просмотр происходит внутри категории: <a href="">Фреймворки</a> → <a href="">Ruby on Rails</a> 
        </p>
        <p>
          Включен фильтр по тегам: </a><a href="">Арбуз</a>&nbsp;<a href=""><sup>x</sup>, <a href="">Ампула</a>&nbsp;<a href=""><sup>x</sup></a>
        </p>
        <p>
          Включен фильтр по источникам данных: <a href="">Twitter</a>&nbsp;<a href=""><sup>x</sup>, <a href="">Delicious</a>&nbsp;<a href=""><sup>x</sup></a>
        </p>
      </div>
				
	      <br class="clear" />
  	
        <%= yield %>
		
			</div>
	
		</div>
		
		<div id="secondaryContent_3columns">
		
			<div id="columnB_3columns">
		
				<h4><span>Поиск</span></h4>
				
				<form method="post" action="">
				<div id="search">
					<input type="text" class="text" name="keywords" />
					<input type="submit" class="button" value="Ок" />
					<br class="clear" />
				</div>
				</form>
				
				<h4><span>Родственные</span> теги</h4>
        <p>
          <%= render(:partial => "related_tags", :collection => @tags, :as => :tags) %>
        </p>

        <h4><span>Источники</span> данных</h4>
        <p>
          <ul class="links">
            <li><a href="">-</a> <a href="">Этот сайт</a> <a href="">→</a></li>
            <li><a href="">+</a> <a href="">Twitter</a> <a href="">→</a></li>
            <li><a href="">-</a> <a href="">Youtube</a> <a href="">→</a></li>
            <li><a href="">-</a> <a href="">Blogspot</a> <a href="">→</a></li>
            <li>+ <a href="">Vimeo</a> <a href="">→</a></li>
            <li><a href="">+</a> <a href="">Flickr</a> <a href="">→</a></li>
            <li>+ Head Hunter <a href="http://hh.ru/resume/472e8180008173f5">→</a></li>
            <li>+ Мой Круг <a href="http://kornevruslan.moikrug.ru/">→</a></li>
            <li><a href="">+</a> <a href="">Delicious</a> <a href="http://delicious.com/woto">→</a></li>
            <li><a href="">+</a> <a href="">Github</a> <a href="http://github.com/woto">→</a></li>
            <li><a href="">+</a> <a href="">Buzz</a> <a href="">→</a></li>
            <li><a href="">+</a> <a href="">Google Reader</a> <a href="">→</a></li>
          </ul>
 			</div>
			
      <div id="columnC_3columns">

        <h4><span>Категории</span></h4>
        <%=format_nested_set(Category.roots, {:major => {:tag => "ul", :class => "links"}}){|i| "<a href=''>" + i.name + '</a>'} %>

       <h4><span>Популярные</span> теги</h4>
        <% @popular_tags = Post.tag_counts(:limit => 20, :at_least => 2) %>
        <%= render(:partial => "posts/tags", :collection => @popular_tags) %>
 
        <h4><span>Обо</span> мне</h4>
        <img style="margin: 0 7px 0 0; float: left;" width="45px" height="60px" src="http://farm5.static.flickr.com/4039/4566917565_c6ec85c2d3_o.jpg" alt="Корнев Руслан aka woto" />
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book <a href="">Обо мне...</a>
 
			</div>

		</div>

		<br class="clear" />

	</div>

</div>

<div id="footer" class="fixed">
  Дизайн от <a href="http://www.nodethirtythree.com">nodethirtythree</a> и <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.
</div>

</body>
</html>
