!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= h(yield(:title) || AppConfig.site_name)
    - content_for(:keywords) do
      ключевые, слова
    - content_for(:description) do
      описание
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => yield(:keywords), :name => "keywords"}/
    %meta{:content => yield(:description), :name => "description"}/
    = stylesheet_link_tag 'compiled/application.css', 'jquery.autocomplete.css',  '/components/dyndatetime/css/calendar-blue.css',  '/components/colorbox/example4/colorbox.css',  :concat => true, :media => 'screen, project'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag  'jquery.js',  'jquery-ui.js',  'jrails.js',  'application.js',  '/components/dyndatetime/src/jquery.dynDateTime.js',  '/components/dyndatetime/lang/calendar-ru.js',  'jquery.autocomplete.pack.js',  '/components/colorbox/colorbox/jquery.colorbox.js', 'jquery.cookie.js',  :cache => true
    = javascript_include_tag :ckeditor
    = yield(:head)
  %body
    .container#wrapper
      .container#header
        %div.columnspan-24
          %h1#title
            %a{:href => "/"} Кладовочка программиста
          %ul#nav
            %li
              %a{:href => "/"} Главная 
              &nbsp;|&nbsp;
            %li
              = link_to "Обо мне", about_me_path
              &nbsp;|&nbsp;
            %li
              = link_to "Обратная связь", feedback_path
      %hr{:class => "nospace"}
      .container#main
        %div.column.span-16.colborder
          - flash.each do |name, msg|
            .box#flash= content_tag :div, msg, :id => "flash_#{name}"
          = filter
          = yield
        %div.column.last.span-7#sidebar
          %hr.space
          .box#search
            %form{:action => "", :method => "post"}
              = text_field_tag("keywords", nil, {:class => "text"})
              = submit_tag("Поиск")
            <input type="checkbox" id="advanced_navigation" /> Гиковская навигация
          %h4.loud
            Категории
          = categories
          -# Проверка на tags.size нужна в случае если все таки посты найдены, но у постов отсутствуют теги
          - if(!@found_posts || @tags.size == 0)
            - @tags = Tags::getTagsCloud
            - @dont_show_scroll_to_top = true
            %h4.loud Популярные теги
          - else
            %h4.loud Родственные теги
          .box
            =render(:partial => "tags/related_tags", :collection => @tags, :as => :tag)
            - if(@found_posts && !@dont_show_scroll_to_top)
              %hr.space
              %a{:class => 'scroll_to_filter ajax', :href => "#"} С учетом фильтра
          %h4.loud
            Календарь
          .box
            - if (!@found_posts)
              - @calendar = CalendarPosts::get_calendar_posts({}, @date)
              - ignore_filters = true
            - else
              - ignore_filters = false
            =render :partial => 'calendar/index', :object => @calendar, :locals => {:ignore_filters => ignore_filters}
            -# Если посты были найдены, то значит отображаем календарь с учетом фильтров только в случае если
            -# указан еще какой-то фильтр вне зависимости от даты, т.к. к примеру если найдены посты и фильтр только
            -# по дате, то в календаре отображаются все равно все посты за месяц
            - if(@found_posts && (params[:tags] || params[:category]))
              %hr.space
              %a{:class => 'scroll_to_filter ajax', :href => "#"} С учетом фильтра
          %h4.loud
            Ссылки
          .box= render :partial => 'shared/links'
          %h4.loud
            Я в других местах
          .box= render :partial => 'shared/other_places'
          %h4.loud
            Обо мне
          .box= render :partial => 'shared/about_me'
      .container.footer
        %div.column.last.span-24
          = t(:footer, :year => Date.today.strftime("%Y"))
